.event-alldetails{
    display: grid;
    grid-template-columns: 2rem 3fr 1fr 2rem;
}
.event-left{
    grid-column: 2/3;
}
.event-time-date{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    margin: 5px 5px;
    border: 1px solid black;
    justify-content: center;
    border-radius: 5px;
}
.event-time-date p {
    font-size: 20px;
    font-weight: 500;
    margin-left: 35px;
    padding: 5px 5px;
}